aiobotocore 
aiofiles 
aiohttp 
aioitertools 
aiosignal 
aiosqlite 
alabaster
anaconda-catalogs
anaconda-client 
anaconda-cloud-auth
anaconda-navigator 
anaconda-project 
anyio 
applaunchservices 
appnope 
appscript
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
async-timeout 
attrs 
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
bokeh 
boltons 
botocore
Bottleneck 
certifi 
cffi 
chardet
charset-normalizer 
cloudpickle 
clyent==1.2.2
colorama 
colorcet 
comm 
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.75
conda-token 
conda-verify==3.4.2
conda_index
conda_package_streaming
contourpy 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
cytoolz 
dask 
datasets
datashader 
datashape==0.5.4
debugpy 
decorator 
defusedxml
diff-match-patch 
distlib==0.3.9
distributed
Django==4.2.16
django-bootstrap-icons==0.9.0
django-bootstrap-v5==1.0.11
django-bootstrap4==24.4
django-bootstrap5==24.3
django-distill==3.2.7
django-forms-bootstrap==3.1.0
django-icons==24.4
docstring-to-markdown 
docutils 
entrypoints 
executing 
fastjsonschema 
filelock==3.16.1
flake8 
Flask 
frozenlist 
fsspec
future 
gensim 
glob2 
gmpy2 
greenlet
h5py
HeapDict 
holoviews 
huggingface-hub 
hvplot 
hyperlink 
idna 
imagecodecs 
imageio
imagesize 
imbalanced-learn 
importlib-metadata 
incremental 
iniconfig
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi 
jellyfish 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5
jsonpatch 
jsonschema 
jupyter 
jupyter-console 
jupyter-events 
jupyter-server 
jupyter-ydoc
jupyter_client 
jupyter_core 
jupyter_server_fileid 
jupyter_server_ydoc 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kaleido 
keyring
kiwisolver 
lazy-object-proxy 
lazy_loader
libarchive-c 
libmambapy
linkify-it-py
llvmlite 
lmdb 
locket 
lxml 
lz4 
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
mistune
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
multiprocess 
munkres==1.1.4
mypy-extensions 
navigator-updater 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio
networkx 
nltk
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
packaging 
pandas 
pandocfilters 
panel 
param
parsel
parso 
partd 
pathlib 
pathspec 
patsy==0.5.3
pep8==1.7.1
pexpect 
pickleshare 
Pillow 
pipenv==2024.4.0
pkce 
pkginfo 
platformdirs 
plotly 
pluggy 
poyo 
prometheus-client 
prompt-toolkit 
Protego
psutil 
ptyprocess 
pure-eval 
py-cpuinfo 
pyarrow==11.0.0
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser
pyct
pycurl 
pydantic 
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
pygame==2.5.2
Pygments 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
pyobjc-core 
pyobjc-framework-Cocoa 
pyobjc-framework-CoreServices 
pyobjc-framework-FSEvents 
pyodbc 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest 
python-dateutil 
python-dotenv 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
python-snappy 
pytoolconfig 
pytz 
pyviz-comms
PyWavelets 
PyYAML 
pyzmq
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole
QtPy 
regex 
requests 
requests-file 
requests-toolbelt 
responses 
rfc3339-validator 
rfc3986-validator 
rope 
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
s3fs 
safetensors 
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn 
sip 
six 
smart-open 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
sqlparse==0.5.1
stack-data 
statsmodels
sympy 
tables 
tabulate 
tenacity 
terminado 
text-unidecode
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract
tokenizers 
toml
tomlkit 
toolz 
tornado 
tqdm 
traitlets 
transformers
Twisted 
typing_extensions 
tzdata 
uc-micro-py 
ujson 
Unidecode 
urllib3
virtualenv==20.29.0
w3lib
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
wurlitzer 
xarray 
xlwings 
xxhash 
xyzservices 
yapf 
yarl 
ypy-websocket 
zict 
zipp 
zope.interface 
zstandard
