{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load icons %}
  {% icon 'house' %}
  {% icon 'auto' %}
  {% icon 'plane' %}
  {% icon 'gauge' %}
  {% icon 'credit_card' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
    a:active
    {
    color:goldenrod;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" href="url" style="color: burlywood;   margin-left: 25px;"><b>Town Square Banking</b></a>
          </li>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Solutions</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link</a></li>
                  <li><a class="dropdown-item" href="#">Another link</a></li>
                  <li><a class="dropdown-item" href="#">A third link</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Who We Serve</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link</a></li>
                  <li><a class="dropdown-item" href="#">Another link</a></li>
                  <li><a class="dropdown-item" href="#">A third link</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Insights</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link</a></li>
                  <li><a class="dropdown-item" href="#">Another link</a></li>
                  <li><a class="dropdown-item" href="#">A third link</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">About us</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Link</a></li>
                  <li><a class="dropdown-item" href="#">Another link</a></li>
                  <li><a class="dropdown-item" href="#">A third link</a></li>
                </ul>
              </li>
          
            </ul>
          </div>
        
        
          <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search"></span> Search 
                </button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" style="color: darkgoldenrod;">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: darkgoldenrod;">News</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: darkgoldenrod;">Contact Us</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: darkgoldenrod;">Login</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: darkgoldenrod; margin-right: 50px;">Global</a> 
            </li>
            </ul>
        </ul>
      </div>
      
    
    </div>
  </div>
</nav>

<div class="card text-bg-dark" style="height: 500px;">
  <img src="{% static 'wild_west_meeting.png' %}" class="card-img" alt="Wildwest meeting">
  <div class="card-img-overlay" style="margin-left: 100px; margin-top: 200px;">
    <h2 class="card-title" style="color: burlywood;">Commercial Banking Services</h2>
    <br>
    <p class="card-text" style="color: burlywood">We Provide credit, financing, treasury and payment solutions to help your business succeed. We also offer best-in-class commercial real estate services for investers and developers.</p>
    <br>
    <br>
    <button style="color: burlywood; padding: 1em;">SEE OUR OFFERINGS</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="{% static 'old_western_skyscrapers.png' %}" class="rounded float-start" alt="Wildwest buildings" style="width: 450px;">
  </div>
  <div class="col-lg-8">
    <br>
    <br>
    <br>
    <br>
    <h1>Commercial <span style="color: burlywood;">Buisness solutions</span></h1>
    <br>
    <br>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            
            
    <div class="row">
        
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;height: 30rem;">
              <div class="card-body" style="display: flex; flex-direction: column;">
                <h5 class="card-title">Commercial Real Estate</h5>
                <br>
                <p class="card-text">Capitalize on opportunities and prepare for challenges throughout the real estate cycle.</p>
                <a href="#" style="margin-top: auto;">Learn more ></a>
              </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;height: 30rem;">
              <div class="card-body" style="display: flex; flex-direction: column;">
                <h5 class="card-title">Credit and Financing</h5>
                <br>
                <p class="card-text">Prepare for future growth with customized lending and financing solutions.</p>
                <a href="#" style="margin-top: auto;">Learn more ></a>
              </div>
            </div>
        </div>
        
        
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;height: 30rem;">
              <div class="card-body" style="display: flex; flex-direction: column;">
                <h5 class="card-title">International Banking</h5>
                <br>
                <p class="card-text">Power your business' global growth and operations at every stage.</p>
                <a href="#" style="margin-top: auto;">Learn more ></a>
              </div>
            </div>
        </div>
        
    </div>
            
            
            
    </div>
    <div class="carousel-item">
            
            
            
    <div class="row">
        
      <div class="col-lg-4">
            <div class="card" style="width: 18rem; height: 30rem;">
              <div class="card-body" style="display: flex; flex-direction: column;">
                <h5 class="card-title">Investment Banking</h5>
                <br>
                <p class="card-text">Providing investment banking solutions, including mergers and acquisitions, capital raising and risk management, for a broad range of corporations, institutions and governments.</p>
                <a href="#" style="margin-top: auto;">Learn more ></a>
              </div>
            </div>
      </div>
        
      <div class="col-lg-4">
          <div class="card" style="width: 18rem; height: 30rem;">
            <div class="card-body" style="display: flex; flex-direction: column;">
              <h5 class="card-title">Payments</h5>
              <br>
              <p class="card-text">Your partner for commerce, receivables, cross-currency, working capital, blockchain, liquidity and more.</p>
              <a href="#" style="margin-top: auto;">Learn more ></a>
            </div>
          </div>
      </div>
        
        
      <div class="col-lg-4">
            
      </div>
        
    </div>
        
            
    </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span> 
      </button>
    </div>
    
  </div>
  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron jumbotron-fluid" style="background-color: black; color: white; ">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Commercial</h1>
        <h1 class="display-4">Banking</h1>
        <h1 class="display-4" style="color: darkgoldenrod;">products</h1>
        <br>
        <br>
        <br>
        <button style="color: white; background-color: darkcyan;">LEARN MORE</button>
      </div>
      <div class="col-lg-8">
        <div class="card bg-dark text-white" style="float: right; border-color: white; text-align: center;">
          <div class="card-body">
            <div class="card bg-dark text-white" style="float: right; border-color: white;">
              <div class="card-body">
                  <i class="bi bi-cloud-arrow-up-fill h1" style="color: aqua;"></i>
                  <br>
                  <br>
                  <h3 style="color: aqua;">Town Square Connect®</h3>
                  <br>
                  <p>Connect to all your accounts through one unified, easy-to-navigate portal. Get your loans, cards and merchant services accounts in one place with Town Square Connect®.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3" style="margin-right: 50px; border: 2px solid aqua; display: flex; flex-direction: column;">
              <i class="bi bi-credit-card" style='font-size:78px;color:aqua;margin-left: 50px;'></i>
              <h3 style="color: aqua;">Commercial cards</h3>
              <p>Our commercial card program can help your employees spend less time authorizing, tracking and processing expense data.</p>
              <a class="nav-link" href="#" style="margin-left: 20px; margin-top:auto ;color: white;">Learn more  ></a>
              <br>
              <br>
        </div>
        <div class="col-lg-3 " style="margin-right: 50px; border: 2px solid plum; display: flex; flex-direction: column;">
              <i class="bi bi-house-door-fill" style='font-size:78px;color:plum;margin-left: 50px;'></i>
              <h3 style="color: plum;">Digital Bill Payment</h3>
              <p>Digital Bill Payment is an innovative bill presentment and payments solution that grows with your business.</p>
              <a class="nav-link" href="#" style="margin-left: 20px; margin-top:auto ;color: white;">Learn More  ></a>
              <br>
              <br>
        </div>
        <div class="col-lg-3" style="margin-right: 50px; border: 2px solid burlywood; display: flex; flex-direction: column;">
              <i class="bi bi-shield-shaded" style='font-size:78px;color:burlywoodl;margin-left: 50px;'></i>
              <h3 style="color: burlywood;">Fraud Solutions</h3>
              <p>Anticipating risk is important, adapting to it is critical. We do both. We help protect clients at every stage of the payment lifecycle, using our global expertise to build solutions at the forefront of emerging technology.</p>
              <a class="nav-link" href="#" style="margin-left: 20px;  margin-top: auto; color: white;">Learn more  ></a>
              <br>
              <br>
        
        </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: white; color: black; ">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Who</h1>
        <h1 style="color: goldenrod;">we</h1>
        <h1 style="color: goldenrod;">serve</h1>
      </div>
      <div class="col">
        <p class="lead">From startups to legacy brands, you're making your mark. We're here to help.</p>
        <button style="padding-left: 10px; padding-right: 10px;">LOOKING FOR MORE?</button>
      </div>
    </div>
    </div>
  </div>

  <div style="width: 1100px; height: 750px; background-color: black; margin-left: 150px;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button onclick="innovationText()">Innovation</button>
      </li>
      <li class="nav-item">
        <button onclick="midsizeText()">Midsize business</button>
      </li>
      <li class="nav-item">
        <button onclick="largeText()">Large Corporations</button>
      </li>
      <li class="nav-item">
        <button onclick="commericalText()">Commerical real estate</button>
      </li>
      <li class="nav-item">
        <button onclick="industriesText()">Industries</button>
      </li>
    </ul>
    <hr style="width:65%;text-align:center;margin-left:205px">

    
      <h1 id="demo1" style="color: white;margin-left: 100px;margin-top: 30px;">Innovation economy</h1>
      <br>
      <br>
      <br>
      <div class="box" style="inline-size: 150px;overflow-wrap: break-word; margin-left: 80px;width: 500px;">
          <p id="demo2" style="color: white;margin-left: 20px;">Town Square has the expertise and financial solutions to support your business from early stage to IPO- and everything in between.</p>
      </div>
      <br>
      <button style="margin-left: 100px;">LEARN MORE</button>
      
    
      <img id="demo3" src="{% static 'innovation_image.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="600px" style="float: right;margin-right: 20px;">
    
    
  </div>
    
  <br>
  <br>
  <br>

  <div class="jumbotron jumbotron-fluid" style="background-color:aliceblue; color: black; ">
    <div class="container">
      <div class="row">
        <div class="col" style="text-align: center;">
            <h1 style="color:cadetblue;"><b>100+</b></h1>
            <p>COUNTRIES WHERE COMMERICAL BANKING OPERATES</p>
        </div>
        <div class="col" style="text-align: center;">
          <h1 style="color: blueviolet;"><b>~55K</b></h1>
          <p>NUMBER OF COMMERICAL BANKING CLIENTS</p>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-sm-4">
    <h3 style="margin-left: 25px;"><b>Latest <span style="color: goldenrod;">client stories</b></span></h3>
    <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">SEE ALL CLIENT STORIES  ></a>
    <img src="{% static 'old_western_skyscrapers.png' %}" class="rounded float-start" alt="Wildwest buildings" style="width: 450px;">
  </div>
  <div class="col-sm-8" style="margin-top: 100px;">
    <p style="color: goldenrod;">CORPORATE RESPONSIBILITY</p>
    <br>
    <br>
    <h2>For these business leaders, impact and legacy go hand in hand</h2>
    <br>
    <br>
    <br>
    <p><b>Feb 20, 2024</b></p>
    <p>With a mission to uplift others and leaver a positive mark on the world, BC forward's Justin and Darrianne Christian are building an IT powerhouse and inspiring students at their alma mater.</p>
    <button style="padding-left: 10px; padding-right: 10px; background-color:cadetblue;"><b style="color: white;">WATCH VIDEO</b></button>
  </div>
</div>

<br>
<br>
<br>

<div class="row" style="background-color: aliceblue;">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="margin-left:20px; padding-right: 40px;padding-left: 40px;">
      <img class="card-img-top" src="{% static 'Old_western_farm.png' %}" alt="Card image cap" style="height: 250px;">
      <div class="card-body">
        <p style="color: goldenrod;">BANKING</p>
        <h3>Landmark deal for Brazil's farmers in climate fight</h3>
        <p><b>Sep 26, 2024</b></p>
        <p>Town Square recently arranged an $800 million loan for Banco do Brasil to fund more sustainable farming practices.</p>
        <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">Read More  ></a> 
      </div>
    </div>
  
   

    
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="padding-right: 40px;padding-left: 40px;">
      <img class="card-img-top" src="{% static 'Old_western_startup.png' %}" alt="Card image cap" style="height: 250px;">
      <div class="card-body">
        <p style="color: goldenrod;"> <i class="fa fa-video-camera" aria-hidden="true"></i> | 2:55 - BANKING</p>
        <h3>From startup to success: How Bambee grew</h3>
        <p><b>Aug 29, 2024</b></p>
        <p>Meet CEO and founder Allan Jones of Bambee, an HR company that’s focused on removing friction in the workplace.</p>
        <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">Watch video  ></a> 
      </div>
    </div>
  </div>
  
  <div class="col-lg-4">
    <div class="row">
    <div style="width: 800px; height: 100px;border-left: 5px solid darkgoldenrod; margin-top: 20px;">
      <p style="color: goldenrod;"> <i class="fa fa-video-camera" aria-hidden="true"></i> | 3:31 - REALESTATE</p>
      <h3>Housing and healthcare: An innovative combo</h3>
      <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">Watch video  ></a> 
    </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div style="width: 800px; height: 100px;border-left: 5px solid darkgoldenrod;">
        <p style="color: goldenrod;"> <i class="fa fa-video-camera" aria-hidden="true"></i> | 3:37 - REALESTATE</p>
        <h3>Oakland's Fruitvale Transit Village transforms community</h3>
        <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">Watch video  ></a> 
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div style="width: 800px; height: 100px;border-left: 5px solid darkgoldenrod;">
        <p style="color: goldenrod;"> REALESTATE</p>
        <h3>Housing that helps residents thrive</h3>
        <a class="nav-link" href="#" style="color: darkgoldenrod; margin-left: 20px;">Read more  ></a> 
      </div>
    </div>
  </div>
  </div>
</div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    
  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <h4 style="text-align: center;">We're here to help you manage your money today and tomorrow</h4>
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

<script>
  function innovationText() {
  document.getElementById("demo1").innerHTML = "Innovation economy";
  document.getElementById("demo2").innerHTML = "JPMorgan Chase has the expertise and financial solutions to support your business from early stage to IPO— and everything in between.";
  document.getElementById("demo3").src = "{% static 'innovation_image.png' %}"
  }
  function midsizeText() {
  document.getElementById("demo1").innerHTML = "Midsize businesses";
  document.getElementById("demo2").innerHTML = "Seize growth opportunities with our custom banking solutions and global resources designed for middle market businesses and specialized industries.";
  document.getElementById("demo3").src = "{% static 'midsize_business.png' %}"
  }
  function largeText() {
  document.getElementById("demo1").innerHTML = "Large corporations";
  document.getElementById("demo2").innerHTML = "From complex operations to global competition, we’re here to help. Leverage the power of JPMorgan Chase to solve your business challenges.";
  document.getElementById("demo3").src = "{% static 'large_corporation.png' %}"
  }
  function commercialText() {
  document.getElementById("demo1").innerHTML = "Commercial real estate";
  document.getElementById("demo2").innerHTML = "Get the strategic support to be successful throughout market and real estate cycles with insights, hands-on service, comprehensive financial solutions and unrivaled certainty of execution.";
  document.getElementById("demo3").src = "{% static 'commerical_real_estate.png' %}"
  }
  function industriesText() {
  document.getElementById("demo1").innerHTML = "Industries";
  document.getElementById("demo2").innerHTML = "Our commercial and investment banking specialists draw on their expertise across industries to help manage your finances and grow your business.";
  document.getElementById("demo3").src = "{% static 'old_west_industries.png' %}"
  }
</script>

</body>
