{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="col">
        <div class="row">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'bank' %}" style="color: black; text-align: left; margin-left: 10px;">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'business' %}" style="color: black; text-align: left;">Buisness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'commercial' %}" style="color: black; text-align: left;">Commercial</a>
            </li>
            <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link" href="#">Schedule a meeting</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Customer service
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">See help options</a></li>
                <li><a class="dropdown-item" href="#">Make a payment</a></li>
                <li><a class="dropdown-item" href="#">Find ATM or branch</a></li>
                <li><a class="dropdown-item" href="#">Report fraud</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-default btn-sm" style="margin-right: 50px;">
                <span class="glyphicon glyphicon-search"></span> Search 
              </button>
            </li>
          </ul>
          </ul>
        </div>
        <div class="row">
          <div class="col text-left">
            <a class="navbar-brand" href="#" style="color: black; margin-left: 6px;"><b>Town Square Banking</b></a>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-default btn-sm" style="margin-right: 50px;">
               Sign In
            </button>
           </div>
        </div>
        <div class="row">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black; padding-right: 30px;" id="dropdownCheckingMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Checking</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCheckingMenuLink">
                  <li><a class="dropdown-item" href="{% url 'choose_checking_account' %}">Choose a checking account</a></li>
                  <li><a class="dropdown-item" href="{% url 'debit_card_for_kids' %}">Debit card for kids</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownSavingsMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Savings & CDs</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSavingsMenuLink">
                  <li><a class="dropdown-item" href="#">Choose a savings account</a></li>
                  <li><a class="dropdown-item" href="#">CDs</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownCardMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Credit cards</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCardMenuLink">
                  <li><a class="dropdown-item" href="#">Explore credit cards</a></li>
                  <li><a class="dropdown-item" href="#">See if you're pre-approved</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Personal credit cards</a></li>
                  <li><a class="dropdown-item" href="#">Business credit cards</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownHomeLoansMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Home loans</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownHomeLoansMenuLink"> 
                  <li><a class="dropdown-item" href="#">Buy a home</a></li>
                  <li><a class="dropdown-item" href="#">Refinance your mortgage</a></li>
                  <li><a class="dropdown-item" href="#">Apply for a mortgage</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Access calculators and tools</a></li>
                  <li><a class="dropdown-item" href="#">See current rates</a></li>
                  <li><a class="dropdown-item" href="#">Manage account</a></li>
                  <li><a class="dropdown-item" href="#">Homebuying 101</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownAutoMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Auto</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAutoMenuLink">
                  <li><a class="dropdown-item" href="#">Finance a car</a></li>
                  <li><a class="dropdown-item" href="#">Shop for a car</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Prequalify for financing</a></li>
                  <li><a class="dropdown-item" href="#">Calculate rates</a></li>
                  <li><a class="dropdown-item" href="#">Explore auto options</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownInvestingMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Investing</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownInvestingMenuLink">
                  <li><a class="dropdown-item" href="#">Explore investing</a></li>
                  <li><a class="dropdown-item" href="#">Work with our advisors</a></li>
                  <li><a class="dropdown-item" href="#">Invest on your own</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Wealth Plan</a></li>
                  <li><a class="dropdown-item" href="#">Plan your retirement</a></li>
                  <li><a class="dropdown-item" href="#">Education planning</a></li>
                  <li><a class="dropdown-item" href="#">Investing insights</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownEducationMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Education & goals</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEducationMenuLink">
                  <li><a class="dropdown-item" href="#">Education center</a></li>
                  <li><a class="dropdown-item" href="{% url 'credit_score' %}">Free credit score</a></li>
                  <li><a class="dropdown-item" href="{% url 'financial_goals' %}">Financial goals</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black;" id="dropdownTravelMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Travel</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTravelMenuLink">
                  <li><a class="dropdown-item" href="#">Travel</a></li>
                </ul>
              </li>
                  
            </ul>     
        </div>
      </div>
    </div>
    </nav>
    <div class="mt-4 p-5 bg-primary text-white rounded" style="width: 100%; height: 300px; background:darkblue !important; align-content: center; margin: 3em;">
            <h2 style="color: white;"><b>Financial Education</b></h2>
            <p style="color: white;">Learn about the essentials of personal finance and find the knowledge you need to help build your financial future.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <nav class="navbar navbar-light bg-light" style="width: 100%; background-color: white !important; align-items: center;">
            <form class="container-fluid justify-content-center">
                  <button class="btn btn-outline-success me-2" type="button active" onclick="overviewText()">Overview</button>
                  <button class="btn btn-outline-success me-2" type="button" onclick="cardText()">Credit cards</button>
                  <button class="btn btn-outline-success me-2" type="button" onclick="personalText()">Personal banking</button>
                  <button class="btn btn-outline-success me-2" type="button" onclick="mortgageText()">Morgage</button>
                  <button class="btn btn-outline-success me-2" type="button" onclick="autoText()">Auto</button>  
            </form>
    </div>
    <h1 id="demo0" style="color: black;margin-left: 100px;margin-top: 30px;">Newest articles</h1>
    <div id="demo19" class="row" style="display: none;">
      <div class="row">
        <div class="col">
          <h1 id="demo10" style="margin-left: 100px;"><b>Credit cards</b></h1>
          <br>
          <br>
          <p id="demo11" style="margin-left: 100px;">Get the essential facts about using credit, credit scores and card rewards to help choose the credit card that's right for you.</p>
          <br>
          <br>
          <br>
          <p id="demo12" style="margin-left:100px ;"><b>Explore credit card topics</b></p>
          <br>
          <br>
          <span class="glyphicon glyphicon-credit-card" style="margin-left: 100px;"></span>
          <a id="demo13" style="color: blue">Building credit</a>
          <span class="glyphicon glyphicon-stats" style="margin-left: 100px;"></span>
          <a id="demo14" style="color: blue;">Interest and APRs</a>
          <br>
          <br>
          <span class="glyphicon glyphicon-education" style="margin-left: 100px;"></span>
          <a id="demo15" style="color: blue;">Credit card basics</a>
          <span class="glyphicon glyphicon-scale" style="margin-left: 100px;"></span>
          <a id="demo16" style="color: blue;">Credit scores</a>
          <br>
          <br>
          <span class="glyphicon glyphicon-star-empty" style="margin-left: 100px;"></span>
          <a id="demo17" style="color: blue;">Rewards and benefits</a>
          <span class="glyphicon glyphicon-credit-card" style="margin-left: 100px;"></span>
          <a id="demo18" style="color: blue;">Town Square cards</a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button style="background-color: darkblue; color: white; margin-left: 100px;">View all in credit cards</button>
        </div>
        <div class="col">
          <h3 id="demo5" style="margin-left: 100px;"><b>Featured in credit cards</b></h3>
          <img id="demo6" src="{% static 'innovation_image.png' %}" class="img-fluid" alt="Wildwest" width="300px" height="200px" style="margin-left: 100px;">
          <p id="demo7" style="margin-left: 100px;"><b>CREDIT CARD BASICS</b></p>
          <br>
          <h2 id="demo8" style="margin-left: 100px;"><b>Best Practices for expense management</b></h2>
          <br>
          <p id="demo9" style="margin-left: 100px;">Explore some best practices for managing your small business' expenses.</p>
          <br>
          <button style="margin-left: 100px;"><u>Continue</u> -></button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div id="demo1" class="card mb-3" style="max-width: 540px;padding: 50px; margin-left: 50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Old_western_hunting.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">CREDIT CARDS</h5>
              <p class="card-text">Tips for tracking business expenses</p>
            </div>
          </div>
        </div>
    </div>
    <div id="demo2" class="card mb-3" style="max-width: 540px;padding: 50px; margin-left: 50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Old_western_wagon_cover.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">AUTO</h5>
              <p class="card-text">How to choose an outdoor car cover</p>
            </div>
          </div>
        </div>
    </div>
    <div id="demo3" class="card mb-3" style="max-width: 540px;padding: 50px; margin-left: 50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Old_western_letter.png' %}" class="img-fluid rounded-start" style="height: 100px;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">MORTAGE</h5>
              <p class="card-text">Letter of Explanation: what is it and when do you need one?</p>
            </div>
          </div>
        </div>
    </div>
    <div id="demo4" class="card mb-3" style="max-width: 540px; padding: 50px; margin-left: 50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'Old_western_tools.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">PERSONAL BANKING</h5>
              <p class="card-text">What's the Town Square Budget tool and how can you use it to help save money?</p>
            </div>
          </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-center" style="background-color:  aliceblue !important; list-style-type: none;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Education Center</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">Building credit</a></li>
          <li><a class="dropdown-item" href="#">Rewards and benefits</a></li>
          <li><a class="dropdown-item" href="#">Credit scores</a></li>
          <li><a class="dropdown-item" href="#">Credit card basics</a></li>
          <li><a class="dropdown-item" href="#">Interest and APRs</a></li>
          <li><a class="dropdown-item" href="#">Town Square cards</a></li>
        </ul>
      </li>
      <div class="vr"></div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Credit cards</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">Building credit</a></li>
          <li><a class="dropdown-item" href="#">Rewards and benefits</a></li>
          <li><a class="dropdown-item" href="#">Credit scores</a></li>
          <li><a class="dropdown-item" href="#">Credit card basics</a></li>
          <li><a class="dropdown-item" href="#">Interest and APRs</a></li>
          <li><a class="dropdown-item" href="#">Town Square cards</a></li>
        </ul>
      </li>
      <div class="vr"></div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Personal banking</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">Banking basics</a></li>
          <li><a class="dropdown-item" href="#">Budgeting and saving</a></li>
          <li><a class="dropdown-item" href="#">Student</a></li>
        </ul>
      </li>
      <div class="vr"></div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Morgage</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">Buying a home</a></li>
          <li><a class="dropdown-item" href="#">Financing a home</a></li>
          <li><a class="dropdown-item" href="#">Finding a home</a></li>
          <li><a class="dropdown-item" href="#">Owning a home</a></li>
          <li><a class="dropdown-item" href="#">Managing a mortgage</a></li>
        </ul>
      </li>
      <div class="vr"></div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: burlywood;">Morgage</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li><a class="dropdown-item" href="#">Buying a car</a></li>
          <li><a class="dropdown-item" href="#">Selling a car</a></li>
          <li><a class="dropdown-item" href="#">Leasing a car</a></li>
          <li><a class="dropdown-item" href="#">Financing a car</a></li>
          <li><a class="dropdown-item" href="#">Maintaining a car</a></li>
        </ul>
      </li>
    </nav>
      
    <div class="row">
      <div class="col" style="margin-left: 75px;">
        <i class="bi bi-credit-card h1"></i>
        <h2>Credit cards</h2>
        <li><a class="dropdown-item" href="#">How to contact Priority Pass customer service</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Mobile Passport app: How to use it</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">What to bring on a business trip</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Difference between an authorized user and joint account holder</a></li>
        <br>
        <br>
        <a href="#"><b><u>See all in Credit cards -></u></b></a>
      </div>
      <div class="col" style="margin-left: 75px;">
        <i class="bi bi-bank h1"></i>
        <h2>Personal banking</h2>
        <li><a class="dropdown-item" href="#">What's a Direct Subsidized Loan?</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">How to make money online for beginners: A step-by-step guide</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">How much does it cost to get a U.S. patent?</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">What’s the Town Square Budget tool and how can you use it to help save money?</a></li>
        <br>
        <br>
        <a href="#"><b><u>See all in Personal banking -></u></b></a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col" style="margin-left: 75px;">
        <i class="bi bi-house-fill h1"></i>
        <h2>Morgage</h2>
        <li><a class="dropdown-item" href="#">What is conditional approval for a mortgage?</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Letter of Explanation: What is it and when do you need one?</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Types of ownership in real estate</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">A guide to jumbo loan down payments</a></li>
        <br>
        <br>
        <a href="#"><b><u>See all in Morgage -></u></b></a>
      </div>
      <div class="col" style="margin-left: 75px;">
        <i class="bi bi-car-front-fill h1"></i>
        <h2>Auto</h2>
        <li><a class="dropdown-item" href="#">What does “ran when parked” mean?</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Guide to pressure washing a car</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">How to choose an outdoor car cover</a></li>
        <hr>
        <li><a class="dropdown-item" href="#">Tips for managing your monthly car payments</a></li>
        <br>
        <br>
        <a href="#"><b><u>See all in Auto -></u></b></a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">

            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'old_western_guide.png' %}" alt="Card image" style="height: 390px;">
                <div class="card-body">
                  <h4 class="card-title">How to make money online for beginners: A step-by-step guide</h4>
                  <p class="card-text">If you're looking to pursue an online job, either one that's full-time or a side hustle, here's a step-by-step process</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'us_patent.png' %}" alt="Card image" style="height: 390px;">
                <div class="card-body">
                  <h4 class="card-title">How much does it cost to get a U.S patent?</h4>
                  <p class="card-text">Getting a patent may involve multiple steps and can also come with various costs such as filing fees, attorney costs, and maintenance fees.</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'Old_western_saving_money.png' %}" alt="Card image" style="height: 390px;">
                <div class="card-body">
                  <h4 class="card-title">What's the Town Square Budget tool and how can you use it to help save money?</h4>
                  <p class="card-text">Town Square has a digital budget tool that may help you stay on track financially to reach your goals.</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">

            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'old_western_saving_tool.png' %}" alt="Card image" style="height: 370px;">
                <div class="card-body">
                  <h4 class="card-title">What's Town Square Autosave? A beginner's guide</h4>
                  <p class="card-text">Town Square Autosave can help you reach your saving goals with automatic transfers from your Town Square checking to Town Sqaure savings account.</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'old_western_hustle.png' %}" alt="Card image" style="height: 390px;">
                <div class="card-body">
                  <h4 class="card-title">How to make money in one hour: 9 side hustles you may want to try</h4>
                  <p class="card-text">If you're looking to make extra income, and relatively quickly, here are nine side hustles to potentially purse</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'Old_western_grocery.png' %}" alt="Card image" style="height: 390px;">
                <div class="card-body">
                  <h4 class="card-title">Ways to grocery shop on a budget</h4>
                  <p class="card-text">Creating realistic grocery budget is possible with a few of these tips. Let food shopping on a bidget stretch your money without sacrificing taste!</p>
                  <a href="#" class="btn btn-primary">Continue</a>
                </div>
              </div>
            </div>
            <div class="col">
              
            </div>
          </div>
        </div>
        
      </div>
      <br>
      <br>
      <br>
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h2 style="text-align: center;"><b>Explore financial education</b></h1>
    <br>
    <br>
    <div class="row" style="color: cornflowerblue; margin-left: 75px; display: flex; align-items: center;">
      <div class="col">
          <i class="bi bi-credit-card-2-back h1" style="display: flex; align-items: center; margin-left: 50px;"></i>
          <h3><b>Credit cards</b></h3>
      </div>
      <div class="col">
          <i class="bi bi-piggy-bank-fill h1" style="display: flex; align-items: center; margin-left: 75px;"></i>
          <h3><b>Personal Banking</b></h3>
      </div>
      <div class="col">
          <i class="bi bi-house-fill h1" style="display: flex; align-items: center; margin-left: 30px;"></i>
          <h3><b>Mortgage</b></h3>
      </div>
      <div class="col">
          <i class="bi bi-car-front h1" style="display: flex; align-items: center; margin-left: 10px;"></i>
          <h3><b>Auto</b></h3>
      </div>
    </div>
    <br>
    <br>
    <div class="container" style="text-align: center;">
      <h2>Follow Us
        <a href="#" id="share-fb" class="sharer button" style="font-size: small;"><i class="fa fa-3x fa-facebook-square"></i></a>
        <a href="#" id="share-tw" class="sharer button" style="font-size: small;"><i class="fa fa-3x fa-twitter-square"></i></a>
        <a href="#" id="share-li" class="sharer button" style="font-size: small;"><i class="fa fa-3x fa-linkedin-square"></i></a>
        <a href="#" id="share-gp" class="sharer button" style="font-size: small;"><i class="fa fa-3x fa-google-plus-square"></i></a>
        <a href="#" id="share-em" class="sharer button" style="font-size: small;"><i class="fa fa-3x fa-envelope-square"></i></a>
      </h2>
      </div>
      <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          
        </section>
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <h4 style="text-align: center;">We're here to help you manage your money today and tomorrow</h4>
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p>
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Laravel</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
    <script>
      function overviewText() {
        document.getElementById("demo0").style.display  = "block";
        document.getElementById("demo1").style.display  = "block";
        document.getElementById("demo2").style.display  = "block";
        document.getElementById("demo3").style.display  = "block";
        document.getElementById("demo4").style.display  = "block";
        document.getElementById("demo10").style.display  = "none";
        document.getElementById("demo11").style.display = "none";
        document.getElementById("demo12").style.display  = "none";
        document.getElementById("demo13").style.display  = "none";
        document.getElementById("demo14").style.display  = "none";
        document.getElementById("demo15").style.display  = "none";
        document.getElementById("demo16").style.display  = "none";
        document.getElementById("demo17").style.display  = "none";
        document.getElementById("demo18").style.display  = "none";
        document.getElementById("demo19").style.display = "none";
        
      }
      function cardText() {
        document.getElementById("demo0").style.display  = "none";
        document.getElementById("demo1").style.display  = "none";
        document.getElementById("demo2").style.display  = "none";
        document.getElementById("demo3").style.display  = "none";
        document.getElementById("demo4").style.display  = "none";
        document.getElementById("demo10").innerHTML = "Credit cards" ;
        document.getElementById("demo11").innerHTML = "Get the essential facts about using credit, credit scores and card rewards to help choose the credit card that's right for you.";
        document.getElementById("demo12").innerHTML = "Explore credit card topics";
        document.getElementById("demo13").innerHTML = "Building credit";
        document.getElementById("demo14").innerHTML = "Interest and APRs";
        document.getElementById("demo15").innerHTML = "Credit card basics";
        document.getElementById("demo16").innerHTML = "Credit scores";
        document.getElementById("demo17").innerHTML = "Rewards and benefits";
        document.getElementById("demo18").innerHTML = "Chase cards";
        document.getElementById("demo5").innerHTML = "Featured in credit cards";
        document.getElementById("demo7").innerHTML = "CREDIT CARD";
        document.getElementById("demo8").innerHTML = "Why do credit cards expire?";
        document.getElementById("demo9").innerHTML = "zever wondered why credit cards expire? There are several reasons why credit cards have expiration dates. Keep reading to learn more."
        document.getElementById("demo19").style.display = "block";
      
      }
      function personalText() {
        document.getElementById("demo0").style.display  = "none";
        document.getElementById("demo1").style.display  = "none";
        document.getElementById("demo2").style.display  = "none";
        document.getElementById("demo3").style.display  = "none";
        document.getElementById("demo4").style.display  = "none";
        document.getElementById("demo10").innerHTML = "Personal Banking" ;
        document.getElementById("demo11").innerHTML = "Discover how financial resources like a savings or checking account can help achieve financial stability and independence.";
        document.getElementById("demo12").innerHTML = "Explore banking topics";
        document.getElementById("demo13").innerHTML = "Basics";
        document.getElementById("demo14").innerHTML = "Student";
        document.getElementById("demo16").innerHTML = "Budgeting & Saving";
        document.getElementById("demo5").innerHTML = "Featured in personal banking";
        document.getElementById("demo7").innerHTML = "PERSONAL BANKING";
        document.getElementById("demo8").innerHTML = "What's the Town Square Budget tool and how can you use it to help save money?";
        document.getElementById("demo9").innerHTML = "Chase has a digital budget tool that may help you stay on track financially to reach your goals. Learn more."
        document.getElementById("demo19").style.display = "block";

      }
      function mortgageText() {
        document.getElementById("demo0").style.display  = "none";
        document.getElementById("demo1").style.display  = "none";
        document.getElementById("demo2").style.display  = "none";
        document.getElementById("demo3").style.display  = "none";
        document.getElementById("demo4").style.display  = "none";
        document.getElementById("demo10").innerHTML = "Mortgage" ;
        document.getElementById("demo11").innerHTML = "Get answers and useful tips for buying, selling and maintaining a home, whether as a first-time buyer or a seasoned owner.";
        document.getElementById("demo12").innerHTML = "Explore mortgage topics";
        document.getElementById("demo13").innerHTML = "Buying a home";
        document.getElementById("demo14").innerHTML = "Finding a home";
        document.getElementById("demo15").innerHTML = "Managing a mortgage";
        document.getElementById("demo16").innerHTML = "Financing a home";
        document.getElementById("demo17").innerHTML = "Owning a home";
        document.getElementById("demo5").innerHTML = "Featured in mortgage";
        document.getElementById("demo7").innerHTML = "MORTGAGE";
        document.getElementById("demo8").innerHTML = "Desert homes: A homebuyer's guide";
        document.getElementById("demo9").innerHTML = "Desert homes offer stunning natural views and a warm climate. Read more to learn what a desert house is and evaluate the pros and cons of living in the desert.";
        document.getElementById("demo19").style.display = "block";
      }
      function autoText() {
        document.getElementById("demo0").style.display  = "none";
        document.getElementById("demo1").style.display  = "none";
        document.getElementById("demo2").style.display  = "none";
        document.getElementById("demo3").style.display = "none";
        document.getElementById("demo4").style.display = "none";
        document.getElementById("demo10").innerHTML = "Auto" ;
        document.getElementById("demo11").innerHTML = "Whether getting ready to buy, trade or sell, get the details on financing options and making key decisions before closing the deal.";
        document.getElementById("demo12").innerHTML = "Explore auto topics";
        document.getElementById("demo13").innerHTML = "Buying";
        document.getElementById("demo14").innerHTML = "Leasing";
        document.getElementById("demo15").innerHTML = "Maintenance";
        document.getElementById("demo16").innerHTML = "Selling";
        document.getElementById("demo17").innerHTML = "Financing";
        document.getElementById("demo5").innerHTML = "Featured in auto";
        document.getElementById("demo7").innerHTML = "MAINTAINING A CAR";
        document.getElementById("demo8").innerHTML = "How to choose an outdoor car cover";
        document.getElementById("demo9").innerHTML = "A car cover is a great way to protect the exterior of your car. Read on to learn how to pick the right cover for your car and what you can do to make it last.";
        document.getElementById("demo19").style.display = "block";
      }
    </script>
   
