{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="col">
        <div class="row">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'bank' %}" style="color: black; margin-left: 15px;">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black; text-align: left;"><u style="color: blue;">Buisness</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'commercial' %}" style="color: black; text-align: left;">Commercial</a>
            </li>
            <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link" href="#">Schedule a meeting</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Customer service
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">See help options</a></li>
                <li><a class="dropdown-item" href="#">Make a payment</a></li>
                <li><a class="dropdown-item" href="#">Find ATM or branch</a></li>
                <li><a class="dropdown-item" href="#">Report fraud</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-default btn-sm" style="margin-right: 50px;">
                <span class="glyphicon glyphicon-search"></span> Search 
              </button>
            </li>
          </ul>
          </ul>
        </div>
        <div class="row">
          <div class="col text-left">
            <a class="navbar-brand" href="#" style="color: black; margin-left: 6px;"><b>Town Square Banking</b></a>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-default btn-sm" style="margin-right: 50px;">
               Sign In
            </button>
           </div>
        </div>
        <div class="row">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black; padding-right: 30px;" id="dropdownCheckingMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Checking</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCheckingMenuLink">
                  <li><a class="dropdown-item" href="{% url 'choose_checking_account' %}">Choose a checking account</a></li>
                  <li><a class="dropdown-item" href="{% url 'debit_card_for_kids' %}">Debit card for kids</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownSavingsMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Savings & CDs</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSavingsMenuLink">
                  <li><a class="dropdown-item" href="#">Choose a savings account</a></li>
                  <li><a class="dropdown-item" href="#">CDs</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownCardMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Credit cards</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCardMenuLink">
                  <li><a class="dropdown-item" href="#">Explore credit cards</a></li>
                  <li><a class="dropdown-item" href="#">See if you're pre-approved</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Personal credit cards</a></li>
                  <li><a class="dropdown-item" href="#">Business credit cards</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownHomeLoansMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Home loans</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownHomeLoansMenuLink"> 
                  <li><a class="dropdown-item" href="#">Buy a home</a></li>
                  <li><a class="dropdown-item" href="#">Refinance your mortgage</a></li>
                  <li><a class="dropdown-item" href="#">Apply for a mortgage</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Access calculators and tools</a></li>
                  <li><a class="dropdown-item" href="#">See current rates</a></li>
                  <li><a class="dropdown-item" href="#">Manage account</a></li>
                  <li><a class="dropdown-item" href="#">Homebuying 101</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownAutoMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Auto</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAutoMenuLink">
                  <li><a class="dropdown-item" href="#">Finance a car</a></li>
                  <li><a class="dropdown-item" href="#">Shop for a car</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Prequalify for financing</a></li>
                  <li><a class="dropdown-item" href="#">Calculate rates</a></li>
                  <li><a class="dropdown-item" href="#">Explore auto options</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownInvestingMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Investing</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownInvestingMenuLink">
                  <li><a class="dropdown-item" href="#">Explore investing</a></li>
                  <li><a class="dropdown-item" href="#">Work with our advisors</a></li>
                  <li><a class="dropdown-item" href="#">Invest on your own</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="#">Wealth Plan</a></li>
                  <li><a class="dropdown-item" href="#">Plan your retirement</a></li>
                  <li><a class="dropdown-item" href="#">Education planning</a></li>
                  <li><a class="dropdown-item" href="#">Investing insights</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black; padding-right: 30px;" id="dropdownEducationMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Education & goals</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEducationMenuLink">
                  <li><a class="dropdown-item" href="{% url 'education_center' %}">Education center</a></li>
                  <li><a class="dropdown-item" href="{% url 'credit_score' %}">Free credit score</a></li>
                  <li><a class="dropdown-item" href="{% url 'financial_goals' %}">Financial goals</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-center" href="#" style="color: black;" id="dropdownTravelMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Travel</a>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTravelMenuLink">
                  <li><a class="dropdown-item" href="#">Travel</a></li>
                </ul>
              </li>
                  
            </ul>     
        </div>
      </div>
    </div>
    </nav>
  <div class="jumbotron jumbotron-fluid" style="background-color: black; color: white; ">
    <div class="row">
      <div class="col" style="text-align:center;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color: white;">Travel</h1>
        <br>
        <h3 style="color: white;"><b>The first stop for you next adventure</b></h3>
          
        <br>
        <br>
      </div>
      <div class="col">
        <img src="{% static 'old_west_vacation.png' %}" class="card-img" alt="Wildwest meeting">
      </div>
      <div class="col">
        <form action="/action_page.php" style="background-color: rgb(22, 19, 19); padding: 2em; margin-top: 50px; margin-right: 50px;">
          <div class="mb-3 mt-3">
            <h3>Welcome</h3>
            <label for="email" class="form-label">Username:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="nav-link" href="#">Forgot username/password? ></a>
          <a class="nav-link" href="#">Not Enrolled? Sign Up Now. ></a>
        </form>
      </div>
    </div>
  </div>

<br>
<br>
<br>
<h3 style="text-align: center;"><b>Go futher when you book with Town Square Travel</b></h3>
<br>
<br>
<br>
<div class="row">
  <div class="col" style="text-align: center;">
    <i class="fa fa-fort-awesome" style="font-size:36px"></i>
    <p><b>Competitive rates</b></p>
    <br>
    <br>
    <p>Take advantage of competitive rates at thousands of hotels and resorts, with no booking fees.</p>
  </div>
  <div class="col" style="text-align: center;">
    <i class="fa fa-plane" style="font-size:36px;"></i>
        <p><b>Seamless booking</b></p>
        <br>
        <br>
        <p>Smoothly plan and book your whole trip, from coveted hotels and convenient flights to cars and must-do local experiences.</p>
  </div>
  <div class="col" style="text-align: center;">
    <i class="fa fa-credit-card" style="font-size:36px"></i>
    <p><b>Premium benefits</b></p>
    <br>
    <br>
    <p>Make the most of your card rewards. Access exclusive benefits and earn and redeem like never before.</p>
  </div>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded" style="width: 1300px; height: 500px; background: bisque !important; align-content: center; margin: 3em">
  <div class="row">
    <div class="col">
      <img src="{% static 'miami_travel_vacation.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="200px" >
    </div>
    <div class="col">
      <h3 style="color: black;"><b>FEATURED EXPERIENCE</b></h3>
      <h2 style="color: black;">Get exclusive access to Miami Art Week with this Town Square Travel trip</h2>
      <br>
      <br>
      <p style="color: black;">Experience guided art events, private dinners and a stay on the beach at a 5-star hotel. Book this exclusive trip with Town Square Travel.</p>
  <a href="#"><u>Read now</u></a>
    </div>
  </div>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded" style="width: 1300px; height: 500px; background:transparent !important; align-content: center; margin: 3em">
  <div class="row">
    <div class="col">
      <img src="{% static 'sea_vacation.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="200px">
    </div>
    <div class="col">
      <h3 style="color: black;"><b>FEATURED GUIDE</b></h3>
      <h2 style="color: black;">Riverboat X Town Square Travel</h2>
      <p style="color: black;">Get inspired with our new hotel and destination guides created by Architectural Digest, GQ, Vanity Fair and Vogue exclusively for Town Square Travel.</p>
      <a href="#" ><u>Explore travel guides and more</u></a>
    </div>
  </div>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded" style="width: 1300px; height: 500px; background:bisque !important; align-content: center; margin: 3em">
  <div class="row">
    <div class="col">
      <h3 style="color: black;"><b>FEATURED HOTELS</b></h3>
      <h2 style="color: black;">9 hotels woth incredible access to the great outdoors</h2>
      <p style="color: black;">Heed the call of the wild at these hotels and resorts near state and national parks, and other destinations that will satisfy your craving for the great outdoors.</p>
      <a href="#" ><u>Read now</u></a>
    </div>
    <div class="col">
      <img src="{% static 'hotel_vacation.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="200px">
    </div>
  </div>
</div>
<br>
<br>
<h3 style="text-align: center;"><b>Featured articles from Town Square Travel</b></h3>
<br>
<br>    
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%">
            <p><b>EXPERIENCES</b></p>
            <h4><b>Get exclusive access to Miami Art Week with this Town Square Travel trip</b></h4>
            <p>Experience guided art events, private dinners and a stay on the beach at a 5-star hotel. Book this exclusive trip with Town Square Travel.</p>
            <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%">
          <p><b>HOTELS</b></p>
          <h4><b>Montage Healdsburg: The heart and soul of Sonoma</b></h4>
          <p>Feel like a Sonoma local when you book a stay at Montage Healdsburg through Town Square Travel (and whenever you do, don't sleep on the house wines).</p>
          <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%;margin-right: 200px;">
          <p><b>HOTELS</b></p>
          <h4><b>9 hotels woth incredible access to the great outdoors</b></h4>
          <p>Heed the call of the wild at these hotels and resorts near state and national parks, and other destinations that will satisfy your craving for the great outdoors</p>
          <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%">
          <p><b>EXPERIENCES</b></p>
          <h4><b>Get exclusive access to Miami Art Week with this Town Square Travel trip</b></h4>
          <p>Experience guided art events, private dinners and a stay on the beach at a 5-star hotel. Book this exclusive trip with Town Square Travel.</p>
          <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%">
          <p><b>HOTELS</b></p>
          <h4><b>Montage Healdsburg: The heart and soul of Sonoma</b></h4>
          <p>Feel like a Sonoma local when you book a stay at Montage Healdsburg through Town Square Travel (and whenever you do, don't sleep on the house wines).</p>
          <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          <img src="{% static 'wagon insurance.png' %}" alt="Card image" style="width:100%;margin-right: 200px;">
          <p><b>HOTELS</b></p>
          <h4><b>9 hotels woth incredible access to the great outdoors</b></h4>
          <p>Heed the call of the wild at these hotels and resorts near state and national parks, and other destinations that will satisfy your craving for the great outdoors</p>
          <a href="#"><u>Continue</u>  -></a>
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>

<br>
<br>
<br>
<button style="color: white;background-color: darkblue;margin-left: 50%;padding-left: 10px;padding-right: 10px;">View featured article</button>
<br>
<br>
<br>
<div class="mt-4 p-5 bg-primary text-white rounded" style="width: 1300px; height: 500px; background:transparent !important; align-content: center; margin: 3em">
  <div class="row">
    <div class="col">
      <img src="{% static 'sea_vacation.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="200px">
    </div>
    <div class="col">
      <h3 style="color: black;"><b>Get rewarded</b></h3>
      <p style="color: black;">Earn and redeem Ultimate Rewards points with your eligible Town Square card, including Town Square Sapphire, Freedom, Ink Business credit cards and more.</p>
      <a href="#" ><u>Not a cardmember? Browse travel cards</u></a>
    </div>
  </div>
</div>

    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        
      </section>
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <h4 style="text-align: center;">We're here to help you manage your money today and tomorrow</h4>
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Company name
              </h6>
              <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">React</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>

   

</body>
