{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>
    <div class="nav" style="padding-bottom: 50px; height: 100px; background-color: burlywood;">
        <div id="mySidenav" class="sidenav" style="height: 100%;width: 0; position: fixed; z-index: 1; top: 0; left: 0;background-color: #111; overflow-x: hidden; padding-top: 60px; transition: 0.5s;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;">&times;</a>
            <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">About</a>
            <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Services</a>
            <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Clients</a>
            <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Contact</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="openNav()" style="display: inline-block; margin-left: 200px; padding-right: 50px; margin-top: 20px;">
            <i class="bi bi-list h1"></i>
        </a>

        <div class="dropdown" style="display: inline; margin-top: 20px;">
            <button class="btn btn-primary dropdown-toggle" style="background-color: transparent;" type="button" data-toggle="dropdown">Explore Products  
            <ul class="dropdown-menu">
              <li><a href="#">Credit cards</a></li>
              <li><a href="#">Checking Accounts</a></li>
              <li><a href="#">Saving Accounts</a></li>
              <li><a href="#">CDs</a></li>
              <li><a href="#">Auto</a></li>
              <li><a href="#">Mortgage & home equity</a></li>
            </ul>
          </div>

        <h1 style="display: inline-block; margin-left: 200px; padding-right: 50px; margin-top: 20px;">TOWN SQUARE</h1>
        
        <p style="display: inline-block; margin-left: 200px; margin-top: 20px;">ATM & branch</p>
        <p style="display: inline-block;margin-left: 20px; margin-top: 20px;">Espanol</p>
        <button type="button" class="btn btn-light" style="margin-left: 20px; margin-top:20px; height: fit-content;">Sign In</button>
      </div>
      <div class="row"> 
        <div class="col" style="margin-left: 200px;">
          <br>
          <br>
          <h1><b>Town Square First Banking</b></h1>
          <h1>A debit card for kids</h1>
          <p><i class="bi bi-check" style="color: green;"></i>No Monthly Service Fee</p>
          <p><i class="bi bi-check" style="color: green;"></i>Designed for kids ages 6-12, available for ages 6-17</p>
          <p><i class="bi bi-check" style="color: green;"></i>Exclusively for Town Square checking customers</p>
        </div>
        <div class="col" style="align-items: center;">
          <br>
          <br>
          <img src="{% static 'Old_western_credit.png' %}" alt="Wildwest credit card" style="width: 600px; display: flex; height: 300px;">
          <br>
          <button type="button" class="btn btn-success" style="margin-left: 280px;">Open Now</button>
          <br>
          <p style="margin-left: 250px;">Account subject to approval</p>
        </div>
      </div>
      <hr>
      <ul class="nav justify-content-center sticky-top" style="background-color: white; box-shadow: 10px;">
        <li class="nav-item" style="align-items: center;">
          <a class="nav-link" aria-current="page" href="#benefits" onClick="document.getElementById('benefits').scrollIntoView();">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#features" onClick="document.getElementById('features').scrollIntoView();">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#FAQs" onClick="document.getElementById('FAQs').scrollIntoView();">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#compare">Compare Accounts</a>
        </li>
      </ul>
      
      <nav class="navbar bg-body-tertiary" style="position: sticky; text-align: center; padding: 50px;">
        <div class="container-fluid" style="position: sticky;">
          
        </div>
      </nav>
      <br>
      <br>
      <br>
      <div id="benefits" class="row" style="text-align: center; align-content: center;">
        <div class="col">
          <i class="bi bi-credit-card h1"></i>
          <h2><b>Unlock their own world with a debit card of their own</b></h2>
          <p>Their card, your guidance. With Town Square First Banking, your kids will be on the path to learning financial responsibility.</p>
        </div>

        <div class="col">
          <i class="bi bi-phone-vibrate h1"></i>
          <h2><b>Stay in the know with limits and alerts</b></h2>
          <p>Set limits on where and how much they can spend or withdraw from ATMs. Plus, Account AlertsSame page link to footnote reference2 help you keep track of their purchases.</p>
        </div>

        <div class="col">
          <i class="bi bi-shield-fill-plus h1"></i>
          <h2><b>Security features for peace of mind</b></h2>
          <p>Teach your kids money skills with confidence using security features like secure sign-in via the Town Square Mobile® app.Same page link to footnote reference3</p>
        </div>
         
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="row" style="text-align: center;">
        <h1>Power up your kid's money confidence</h1>
      </div>
      <br>
      <br>
      <ul id="features" class="nav nav-tabs" style="width: 75%;margin-left: 250px;">
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#spend">Spend</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#save">Save</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#earn">Earn</a></li>
      </ul>
      
      <div class="tab-content" style="width: 75%;margin-left: 250px;">
        <div id="spend" class="tab-pane fade in active">
          <div class="row">
            <div class="col">
              <h3>Stay on top of where and how much your child can spend</h3>
              <li>You can set limits on where and how much your child can spend or withdraw from ATMs.</li>
              <li>Within your set limits, your child can make purchases with their debit card.</li>
              <li>If your child needs additional money, you can approve or reject their request.</li>
              <li>Account Alerts help you stay in the know about your child's spending.</li>
            </div>
            <div class="col">
              <img src="{% static 'Old_western_credit.png' %}" alt="Wildwest credit card" style="width: 600px; display: flex; height: 300px">
            </div>
          </div>
          
          
        </div>
        <div id="save" class="tab-pane">
          <div class="row">
            <div class="col">
              <h3>Create savings goals for all the dreams ahead</h3>
              <li>Establish saving goals with your child — encourage them to dream big!</li>
              <li>Track their progress together in the Town Square Mobile® app. As they earn or receive money, you can allocate it toward those goals. </li>
              <li>You're always able to chip in additional money to help them reach their goals.</li>
            </div>
            <div class="col">
              <img src="{% static 'Old_western_savings.png' %}" alt="Wildwest credit card" style="width: 600px; display: flex; height: 300px">
            </div>
          </div>
          
        </div>
        <div id="earn" class="tab-pane">
          <div class="row">
            <div class="col">
              <h3>Allowances just got way easier</h3>
              <li>Reward responsibility with allowance transfers, set to repeat on the schedule you choose.</li>
              <li>Assign recurring chores and pay your child when they're done.</li>
            </div>
            <div class="col">
              <img src="{% static 'Old_western_earning.png' %}" alt="Wildwest credit card" style="width: 600px; display: flex; height: 300px">
            </div>

          </div>
          
        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      
      <h1 style="text-align: center;"><b>Check out what Town Square First Banking customers are saying</b></h1>
      <br>

      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <p>CHILD</p>
          <h3>&quot; It is very cool to have my own debit card with my name and then I can pay for my own things without my parents' card.&quot;</h3>
          <p>- Ethan</p>
        </div>
        <div class="col">
          <p>PARENT</p>
          <h3>&quot; I really love that I am able to start teaching my child about banking, saving, earning, and spending.&quot;</h3>
          <p>- Kayla</p>
        </div>
        <div class="col">

        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <img src="{% static 'Old_western_teacher.png' %}" alt="Wildwest credit card" style="width: 600px; display: flex; height: 500px">
        </div>
        <div class="col">
          <h3><b>Banking that grows with your family</b></h3>
          <p>From the first day of school to college graduation, Town Square meets your student where they are in their financial journey:</p>
          <li>Teach your child money basics with Town Square First Banking</li>
          <li>Send money to friends and get direct deposits with Town Square High School Checking</li>
          <li>Embark on financial independence with a Town Square College Checking account</li>
          <br>
          <p>Plus, set them up with a Town Square Savings account to start building healthy saving habits.</p>
          <br>
          <button type="button" class="btn btn-primary">Compare Accounts</button>
        </div>
        <div class="col">

        </div>
      </div>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <h1 style="text-align: center;"><b>Ready to get your kids started with their first debit card?</b></h1>
      <br>
      <h3 style="text-align: center;">You'll first need to have a qualifying Town Square checking account before you can add a Town Square First Banking account. Designed with kids ages 6-12 in mind and available for kids ages 6-17. Town Square First Banking has a $0 Monthly Service Fee.</h3>
      <br>
      <p style="text-align: center;">Account subject to approval. See <u style="color: blue;">Additional Banking Services and Fees (PDF)</u> for more information.</p>
      <br>
      <br>
      <button type="button" class="btn btn-success" style="align-content: center; margin-left: 700px;">Open Now</button>
      <br>
      <br>
      <div class="row" style="background-color: lightgray; width: 1000px; margin-left: 320px; height: 425px;">
        <div class="col">
          <img src="{% static 'Old_western_account_.png' %}" class="img-fluid" alt="Wildwest" width="600px" height="625px">
        </div>
        <div class="col">
          <h3>Have a Town Square checking account?</h3>
          <br>
          <p>Open a Town Square First Banking account for your children</p>
          <br>
          <button type="button" class="btn btn-success">Open Now</button>
          <br>
          <br>
          <h3>Not a Town Square customer?</h3>
          <br>
          <p>Choose the checking account that's right for you</p>
          <button type="button" class="btn btn-primary">Explore Accounts</button>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div id="FAQs" style="text-align: center;">
        <h1><b>Got questions? We've got answers.</b></h1>
        <br>
        <div style="text-align: left; margin-left: 420px;">
          <a><i class="bi bi-caret-right-fill" style="color: blue;"></i><b>What is Town Square First Bank?</b></a>
          <br>
          <br>
          <a><i class="bi bi-caret-right-fill" style="color: blue;"></i><b>Is there an age requirement for Town Square First Banking?</b></a>
          <br>
          <br>
          <a><i class="bi bi-caret-right-fill" style="color: blue;"></i><b>Does Town Square First Banking allow direct deposit?</b></a>
          <br>
          <br>
          <a><i class="bi bi-caret-right-fill" style="color: blue;"></i><b>Do I need to be a Town Square customer to open a Town Square First Banking account?</b></a>
          <br>
          <br>
          <a><i class="bi bi-caret-right-fill" style="color: blue;"></i><b>Does Town Square First Banking support peer-to-peer transactions?</b></a>
        </div>
        <br>
        <p><b>Still have questions? </b><u style="color: blue;">See a full list of FAQs here</u>.</p>
      </div>
      <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          
        </section>
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <h4 style="text-align: center;">We're here to help you manage your money today and tomorrow</h4>
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p>
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Laravel</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      
</body>
</html>