{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>

<img src="{% static 'financial_goal.png' %}" class="card-img" alt="Wildwest meeting" style="height: 600px;">
<div class="card-img-overlay" style="margin-left: 100px; margin-top: 25px; height: 100px; color: #f1f1f1;">
        <div class="row">
            <div class="col">
                
                    <div id="mySidenav" class="sidenav" style="height: 100%;width: 0; position: fixed; z-index: 1; top: 0; left: 0;background-color: #111; overflow-x: hidden; padding-top: 60px; transition: 0.5s;">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;">&times;</a>
                        <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">About</a>
                        <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Services</a>
                        <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Clients</a>
                        <a href="#" style="padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px;color: #818181;display: block;transition: 0.3s;">Contact</a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="openNav()" style="display: inline-block;">
                        <i class="bi bi-list h1"></i>
                        </a>
                        <div class="dropdown" style="display: inline;">
                          <button class="btn btn-primary dropdown-toggle" style="background-color: transparent;" type="button" data-toggle="dropdown">Explore Products  
                          <ul class="dropdown-menu">
                            <li><a href="#">Credit cards</a></li>
                            <li><a href="#">Checking Accounts</a></li>
                            <li><a href="#">Saving Accounts</a></li>
                            <li><a href="#">CDs</a></li>
                            <li><a href="#">Auto</a></li>
                            <li><a href="#">Mortgage & home equity</a></li>
                          </ul>
                        </div>

            </div>
            <div class="col">
                <h1>TOWN SQUARE</h1>
                <h1 style="margin-top: 380px;">Get started on your financial future</h1>
            </div>
            <div class="col">
                    <p style="display: inline-block; ">ATM & branch</p>
                    <p style="display: inline-block;margin-left: 20px;">Espanol</p>
                    <button type="button" class="btn btn-default btn-sm" style="display: inline-block; margin-left: 20px;">
                        <i class="bi bi-search h3"></i> 
                    </button>
    
            </div>
        </div>
</div>
<div id="navbar" style="position: sticky; top: 0; overflow: hidden; height: 50px; background-color: white;">
    <div class="dropdown"  style="display: inline-block; margin-left: 250px;">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" style="margin-left: 100px; padding-right: 25px;">
          Financial goals
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Financial Goals</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Parents & Students</a></li>
          <li><a class="dropdown-item" href="#">Budget & Save</a></li>
          <li><a class="dropdown-item" href="#">Build your credit</a></li>
          <li><a class="dropdown-item" href="#">Protect your money</a></li>
        </ul>
      </div>
    <vl></vl>
    <a href="#news" style="display: inline-block; padding-right: 25px;">Overview</a>
    <a href="#contact" style="display: inline-block; padding-right: 25px;">Parents & Students</a>
    <a href="#budget" style="display: inline-block; padding-right: 25px;">Budget & Save</a>
    <a href="#credit" style="display: inline-block; padding-right: 25px;">Build your credit</a>
    <a href="#protect" style="display: inline-block; padding-right: 25px;">Protect your money</a>
  </div>
  <br>
  <h2 style="text-align: center;">Discover tips, tools and guidance to help you move forward on your financial path</h2>
  <br>
  <br>
  <div class="row" style="margin: 0 -5px; margin-left: 300px;">
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-piggy-bank-fill h1"></i>
        <h3><b>I want to save money</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>
      </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-wallet2 h1"></i>
        <h3><b>I want a budget that can help me</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>
      </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-speedometer h1"></i>
        <h3><b>I want to improve my credit score</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" style="margin: 0 -5px; margin-left: 300px;">
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-calculator-fill h1"></i>
        <h3><b>I want to manage my college finances well</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>
      </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-pie-chart-fill h1"></i>
        <h3><b>I want to teach my kids good money habits</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>  
      </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1; display: flex; height: 210px">
        <i class="bi bi-file-lock-fill h1"></i>
        <h3><b>I want to protect my money</b></h3>
        <a style="position: absolute; bottom: 8px; right: 16px">See details</a>  
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <img src="{% static 'old_west_couples.png' %}" alt="Wildwest couples laughing" style="width: 800px; display: flex; height: 500px;">
    </div>
    <div class="col">
      <h3 style="color: black;"><b>Prepare for life's moments</b></h3>
      <br>
      <p style="color: black;">Your financial priorities are influenced by the stage of life you’re in. Whether you're a parent looking for tips and tools to teach your kid good money habits or a student preparing for adulting, we're here to help you plan for what's next.</p>
      <br>
      <a style="color: black;"><u style="color: blue;">Continue -></u></a>
      <hr>
      <h3 style="color: black;"><b>Learn about budgeting and saving</b></h3>
      <br>
      <p style="color: black;">Reaching your financial goals starts with improving your money habits. Learn how to build a budget that fits you, improve your spending and grow your savings to stay on track.</p>
      <br>
      <br>
      <a style="color: black;"><u style="color: blue;">Continue -></u></a>
    </div>
  </div>
  <hr>
  <h3 style="text-align: center;">See what's trending now</h3>
  <div class="row" style="margin-left: 250px;">
    <div class="col">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="{% static 'Old_west_credit.png' %}" alt="Card image" style="width:100%; display: flex; height:270px">
        <div class="card-body">
          <p style="color: black;">What really matters to your credit score</p>
          <br>
          <br>
          <p>Several factors impact your credit score, and you might be surprised what financial behaviors actually make a difference.</p>
          <br>
          <p>4 minute read</p>
          <br>
          <br>
          <a href="#" class="btn btn-primary" style="color: blue;"><b>Read more ></b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="{% static 'Old_western_buddy.png' %}" alt="Card image" style="width:100%; display: flex; height:270px">
        <div class="card-body">
          <p style="color: black;">Get your buddy in shape for the new year</p>
          <br>
          <br>
          <p>The fresh start of a new year is a great time to shape up your budget and get your finances on the right track.</p>
          <br>
          <p>2 minute read</p>
          <br>
          <br>
          <a href="#" class="btn btn-primary" style="color: blue;"><b>Read more ></b></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="{% static 'Old_western_accident.png' %}" alt="Card image" style="width:100%; display: flex; height:270px">
        <div class="card-body">
          <p style="color: black;">Expense - the unexpected</p>
          <br>
          <br>
          <p>An emergency fund is your financial line of defense against life happening. How do you figure out how it works and how much to put in? This guide can help.</p>
          <br>
          <p>3 minute read</p>
          <br>
          <br>
          <a href="#" class="btn btn-primary" style="color: blue;"><b>Read more ></b></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" style="background-color: lightgray;">
    <h3 style="text-align: center; margin-top: 25px;">We're here for you</h3>
    <br>
    <br>
    <br>
    <br>
    <div class="col">
      <i class="bi bi-bank2 h1" style="margin-left: 350px;"></i>
      <h3 style="margin-left: 290px;">Find a branch</h3>
      <br>
      <p style="margin-left: 200px;">Get locations and updated hours for branches and drive-ups.</p>
      <br>
      <br>
      <a href="#" style="color: blue; margin-left: 310px;">Come see us ></a>
      <br>
      <br>
    </div>
    <div class="col" style="align-items: center;">
      <i class="bi bi-people-fill h1" style="margin-left: 350px;"></i>
      <h3 style="margin-left: 210px;">Schedule a meeting with a banker</h3>
      <br>
      <p style="margin-left: 240px;">Let’s chat — set up a time that works for you.</p>
      <br>
      <br>
      <a href="#" style="color: blue; margin-left: 330px;">Let's talk ></a>
      <br>
      <br>
    </div>
    
  </div>
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      
    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <h4 style="text-align: center;">We're here to help you manage your money today and tomorrow</h4>
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

<script>
    const navbar = document.getElementById("navbar");
    window.onscroll = (e) => {
    if (window.scrollY > 100) {
    navbar.classList.replace("navbartransparent", "navbarcolored");
    } else {
    navbar.classList.replace("navbarcolored", "navbartransparent");
    }};

    /* Set the width of the side navigation to 250px */
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script> 

</html>

